#gform_birdcrm_deauth_button {
    margin-top: 1em;
}
#tab_gravityformsbirdcrm table.gforms_form_settings > tbody > tr > th {
    padding: 0;
    width: 0;
}

#tab_gravityformsbirdcrm .gaddon-section:last-of-type .gforms_form_settings:last-of-type > tbody > tr:last-child,
#tab_gravityformsbirdcrm .gform-settings-save-container {
    /* display: none; */
}